<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git-o</title>
    <link rel="icon" href="img/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
    </style>
</head>
<body>

    <!-- header -->
    <div class="navbar">
        <!-- logo -->
        <a class="logo" href="/">
            Git-o
        </a>
        <!-- search -->
        <div class="search">
            <form action="/search" method="post">
                <input class="search_box" placeholder="Search User" name="user">

                </input>

                <button class="search_btn pointon">
                    Search
                </button>
            </form>

        </div>

    </div>

    <!-- Profile -->
    <div class="profile">
        <div class="heading">
            Profile
        </div>
        <div class="stats">
            <!-- img -->

            <!-- <div class="img_url total_cards">
                <%= ejs_git_data.avatar_url %>
            </div> -->

            <img class="stats_image" src=<%= ejs_git_data.avatar_url %>>
                
            </img>

            <!-- name_bio -->
            <div class="block1">

                <div class="name">
                    Name - <span class="data_entry"> <%= ejs_git_data.name %></span>
                </div>

                <div class="bio">
                    Bio :
                </div>
                <div class="bio_content">
                    <div class="bio_content_area">
                        <%= ejs_git_data.bio %>
                    </div>
                </div>

            </div>

            <!-- Followers_following -->
            <div class="block2">

                <div class="up_box">

                    <div class="subheading flexme">
                        <img class="icon" src="img/twitter.svg"></img>
                        <div class="text">Twitter username - <span class="data_entry"> <%= ejs_git_data.twitter_username %></span></div>
                    </div>

                    <div class="subheading flexme">
                        <img class="icon" src="img/company.svg"></img>
                        <div class="text">Company - <span class="data_entry"> <%= ejs_git_data.company %></span></div>
                    </div>

                    
                    <div class="subheading flexme">
                        <img class="icon" src="img/hire.svg"></img>
                        <div class="text">Hireable - <span class="data_entry"> <%= ejs_git_data.hireable %></span></div>
                    </div>                    

                </div>

                <div class="down_box flexme">

                    <div class="follow_format">
                        <div class="followers">
                            Followers - <span class="data_entry"> <%= ejs_git_data.followers%></span>
                        </div>
                    </div>
                    
                    <div class="follow_format">
                        <div class="following">
                            Following - <span class="data_entry"> <%= ejs_git_data.following %></span>
                        </div>
                    </div>
                    
                </div>

            </div>

            <!-- contact_info -->
            <div class="block3">

                <div class="subheading flexme" style="margin-top: 20px;">
                    <img class="icon" src="img/email.svg"></img>
                    <div class="text">Email - <span class="data_entry"> <%= ejs_git_data.email %></span></div>
                </div>

                <div class="subheading flexme">
                    <img class="icon" src="img/location.svg"></img>
                    <div class="text">Location - <span class="data_entry"> <%= ejs_git_data.location %></span></div>
                </div>

                
                <div class="subheading flexme">
                    <img class="icon" src="img/repos.svg"></img>
                    <div class="text">Public repos - <span class="data_entry"> <%= ejs_git_data.public_repos %></span></div>
                </div>  

                <div class="subheading flexme">
                    <img class="icon" src="img/gists.svg"></img>
                    <div class="text">Public gists - <span class="data_entry"> <%= ejs_git_data.public_gists %></span></div>
                </div> 

            </div>

        </div>
    </div>


    <!-- Repositories -->

    <p class="total_cards"><%= ejs_cards%></p>

    <div class="repositories">
        <div class="heading">
            Repositories
        </div>


        <div class="contain_repo">

            <% ejs_repos_data.forEach((data)=>{ %>

            <a class="card" target="_blank" href=<%= data.html_url %>>

                <div class="card_area">
                    <div class="card_heading">
                        <%= data.name %>
                    </div>
    
                    <div class="card_description">
                        <%= data.description %>
                    </div>
                </div>

                <div class="card_lang flexme">
                    <div class="card_lang_txt">
                        <%= data.language %>
                    </div>
                </div>                
            </a>

            <%})%>

        </div>


    </div>

    <!-- watermark -->
    <div class="watermark">
        @devik_kamath
    </div>


    <!-- Functional scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        
        var cards = $(".total_cards").html();

        // var img = $(".img_url").html();

        if(window.innerHeight < window.innerWidth){
            $(".contain_repo").css("grid-template-columns", "repeat(" + cards + ", 350px)");
        }

        // $(".stats_image").css("background-image", img);

    </script>

</body>
</html>